<html xmlns:th = "http://www.thymeleaf.org"
      xmlns:layout = "http://ultraq.net.nz/thymeleaf/layout"
      layout:decorator = "layout/main.html"
      xmlns:sec = "http://www.thymeleaf.org/extras/spring-security">

<div layout:fragment = "site_content">

<div class="container">
    <div class="row mt-3">
        <div class="col-sm-3" th:insert="~{layout/adminMenu}">
        </div>

        <div class="col-9">

            <div class="form-group" style="float: right">
                <button class="btn btn-success" style="background-color: #156145" data-toggle="modal" data-target="#exampleModal" th:text="#{button.add}">
                </button>
            </div>

                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel" th:text="#{button.add}">
                                </h5>
                                <button class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form th:action="@{'addItem'}" method="post">
                                    <div class="form-group">
                                        <label th:text="#{label.name }">
                                        </label>
                                        <input type="text" class="form-control" name="name">
                                    </div>
                                    <div class="form-group">
                                        <label th:text="#{description}">
                                        </label>
                                        <input type="text" class="form-control" name="description">
                                    </div>
                                    <div class="form-group">
                                        <label th:text="#{label.price}">
                                        </label>
                                        <input type="text" class="form-control" name="price">
                                    </div>

                                    <div class="form-group">
                                        <label th:text="#{brand}">
                                        </label>
                                        <select class="form-control" name="brand_id">
                                            <option value="0"></option>
                                            <option th:each="brand : ${brands}" th:text="${brand.name}" th:value="${brand.id}"></option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label th:text="#{stars}">
                                        </label>
                                        <input type="text" class="form-control" min="0" max="5" name="stars">
                                    </div>
                                    <div class="form-group">
                                        <label th:text="#{small_picture_url}">
                                        </label>
                                        <input type="text" class="form-control" name="small_picture_url">
                                    </div>

                                    <div class="form-group">
                                        <label th:text="#{large_picture_url}">
                                        </label>
                                        <input type="text" class="form-control" name="large_picture_url">
                                    </div>
                                    <div class="form-group">
                                        <label th:text="#{added_date}">
                                        </label>
                                        <input type="date" class="form-control" name="added_date">
                                    </div>
                                    <div class="form-group">
                                        <label th:text="#{in_top_page}"></label>
                                        <select class="form-control" name="in_top_page">
                                            <option value="true" th:text="#{yes}"></option>
                                            <option value="false" th:text="#{no}"></option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <button type="submit" style="float:right; background-color: #156145" class="btn btn-success" th:text="#{button.add}"></button>
                                        <button type="button"  style="float: left; background-color: #353942" class="btn btn-secondary" th:text="#{exit}"></button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel1" th:text="#{edit}">
                                </h5>
                                <button class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="row-mt-5">
                                <form th:action="@{'/saveItem'}" method="post">
                                    <input type="hidden" class="form-control" name="id" id="id" >
                                    <div class="form-group">
                                        <label th:text="#{label.name }">
                                        </label>
                                        <input type="text" class="form-control" name="name" id="name">
                                    </div>
                                    <div class="form-group">
                                        <label th:text="#{description}">
                                        </label>
                                        <input type="text" class="form-control" name="description" id="description">
                                    </div>
                                    <div class="form-group">
                                        <label th:text="#{label.price}">
                                        </label>
                                        <input type="double" class="form-control" name="price" id="price">
                                    </div>
                                    <div class="form-group">
                                        <label th:text="#{brand}">
                                        </label>
                                        <select class="form-control" name="brand_id" id="brand">
                                            <option th:each="brand : ${brands}" th:text="${brand.name}" th:value="${brand.id}"></option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label th:text="#{stars}">
                                        </label>
                                        <input type="text" class="form-control" min="0" max="5" name="stars" id="stars">
                                    </div>
                                    <div class="form-group">
                                        <label th:text="#{small_picture_url}">
                                        </label>
                                        <input type="text" class="form-control" name="small_picture_url" id="small_pic">
                                    </div>

                                    <div class="form-group">
                                        <label th:text="#{large_picture_url}">
                                        </label>
                                        <input type="text" class="form-control" name="large_picture_url" id="large_pic">
                                    </div>
                                    <div class="form-group">
                                        <label th:text="#{added_date}">
                                        </label>
                                        <input type="date" class="form-control" name="added_date" id="added_date">
                                    </div>
                                    <div class="form-group">
                                        <label th:text="#{in_top_page}"></label>
                                        <select class="form-control" name="in_top_page" id="in_top">
                                            <option value="true" th:text="#{yes}"></option>
                                            <option value="false" th:text="#{no}"></option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-success" th:text="#{edit}"></button>
                                        <button type="button" class="btn btn-danger" th:text="#{exit}"></button>
                                    </div>
                                </form>
                                </div>

                                <div class="row-mt-5">
                                    <div class="col-6 offset-3">
                                        <table class="table table-striped">
                                            <tbody>
                                            <tr th:each="c : ${categories}">
                                                <form th:action="@{'/cleanCategory'}" method="post">
                                                    <input type="hidden" id="id_2" name="item_id">
                                                    <input type="hidden" th:value="${c.id}" name="category_id">
                                                    <td th:text="${c.name}"></td>
                                                    <td width="10%">
                                                        <button class="btn btn-success btn-sm" style="background-color: #156145">-</button>
                                                    </td>
                                                </form>
                                            </tr>

                                            </tbody>
                                        </table>
                                    </div>
                                </div>


                                <div class="row-mt-5">
                                    <div class="col-6 offset-3">
                                        <table class="table table-striped">
                                            <tbody>
                                                <tr th:each="c : ${categories}">
                                                    <form th:action="@{'/assignCategory'}" method="post">
                                                        <input type="hidden" id="id_1" name="item_id">
                                                        <input type="hidden" th:value="${c.id}" name="category_id">
                                                        <td th:text="${c.name}"></td>
                                                        <td width="10%">
                                                            <button class="btn btn-success btn-sm" style="background-color: #156145">+</button>
                                                        </td>
                                                    </form>
                                                </tr>

                                            </tbody>
                                        </table>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <table class="table table-stripped">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th th:text="#{label.name}"></th>
                        <th th:text="#{brand}"></th>
                        <th th:text="#{label.price}"></th>
                        <th th:text="#{edit}"></th>
                        <th th:text="#{delete}"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="i : ${items}">
<!--                        <input type="hidden" th:id="${'name_'+i.id}" th:value="${i.name}">-->
<!--                        <input type="hidden" th:id="${'description_'+i.id}" th:value="${i.description}">-->
<!--                        <input type="hidden" th:id="${'price_'+i.id}" th:value="${i.price}">-->
<!--                        <input type="hidden" th:id="${'brand_'+i.id}" th:value="${i.brand.id}">-->
<!--                        <input type="hidden" th:id="${'stars_'+i.id}" th:value="${i.stars}">-->
<!--                        <input type="hidden" th:id="${'small_pic_'+i.id}" th:value="${i.smallPictureUrl}">-->
<!--                        <input type="hidden" th:id="${'large_pic_'+i.id}" th:value="${i.largePictureUrl}">-->
<!--                        <input type="hidden" th:id="${'added_date_'+i.id}" th:value="${i.addedDate}">-->
<!--                        <input type="hidden" th:id="${'in_top_'+i.id}" th:value="${i.inTopPage}">-->
                        <td th:text="${i.id}"></td>
                        <td th:text="${i.name}"></td>
                        <td th:text="${i.brand.name + ', ' + i.brand.country.code}"></td>
                        <td th:text="${i.price}"></td>
<!--                        <td><button th:data-id="${i.id}" onclick="saveItem(this.getAttribute('data-id'))" class="btn btn-success btn-sm" style="background-color: #156145; color: white" data-toggle="modal" data-target="#editModal" th:text="#{edit}">-->
<!--                        </button>-->
<!--                        </td>-->
                        <td><a th:href="@{'/itemDetails/' + ${i.id}}" class="btn btn-secondary btn-sm" style="background-color: #6a7079; color: white"><img style="width: 25px; height: 25px;" src="/icons/edit.png" alt=""></a>
                        </td>
                        <td><a th:href="@{'/delete?id=' + ${i.id}}" class="btn btn-danger btn-sm" style="background-color: rgba(179,0,0,0.81); color: white;"><img style="width: 25px; height: 25px;" src="/icons/delete.png" alt=""></a></td>

                    </tr>
                    </tbody>
                </table>


        </div>
    </div>

<!--        <script type="text/javascript">-->
<!--        const saveItem=(id)=>{-->
<!--            document.getElementById("id").value=id;-->
<!--            document.getElementById("id_1").value=id;-->
<!--            document.getElementById("name").value=document.getElementById("name_"+id).value;-->
<!--            document.getElementById("description").value=document.getElementById("description_"+id).value;-->
<!--            document.getElementById("price").value=document.getElementById("price_"+id).value;-->
<!--            document.getElementById("brand").value=document.getElementById("brand_"+id).value;-->
<!--            document.getElementById("stars").value=document.getElementById("stars_"+id).value;-->
<!--            document.getElementById("small_pic").value=document.getElementById("small_pic_"+id).value;-->
<!--            document.getElementById("large_pic").value=document.getElementById("large_pic_"+id).value;-->
<!--            document.getElementById("added_date").value=document.getElementById("added_date_"+id).value;-->
<!--            document.getElementById("in_top").value=document.getElementById("in_top_"+id).value;-->
<!--        }-->
<!--    </script>-->

</div>
</div>
</html>