<html xmlns:th = "http://www.thymeleaf.org"
      xmlns:layout = "http://ultraq.net.nz/thymeleaf/layout"
      layout:decorator = "layout/main.html"
      xmlns:sec = "http://www.thymeleaf.org/extras/spring-security">

<div layout:fragment = "site_content">

    <div class="container">
        <div class="row mt-3">
            <div class="col-sm-3" th:insert="~{layout/adminMenu}">
            </div>
        <div class="col-9">
                <div class="row-mt-5">
                    <form th:action="@{'/editUser'}" method="post">
                        <input type="hidden" class="form-control" name="id" th:value="${user.id}" >
                        <div class="form-group">
                            <label th:text="#{email}">
                            </label>
                            <input type="email" class="form-control" name="userEmail" th:value="${user.email}">
                        </div>
                        <div class="form-group">
                            <label th:text="#{fullname}">
                            </label>
                            <input type="text" class="form-control" name="userFullname" th:value="${user.fullname}">
                        </div>
                        <div class="form-group">
                            <label th:text="#{password}">
                            </label>
                            <input type="password" class="form-control" name="userPassword" th:value="${user.password}">
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-success btn-sm" style="background-color: #156145; float: right; color: white"><img style="width: 25px; height: 25px;" src="/icons/save.png" alt="" th:text="#{save}"></button>
                            <a th:href="@{'/deleteUser?id=' + ${user.id}}" class="btn btn-danger btn-sm" style="float: left; background-color: rgba(174,0,0,0.7); color: white"><img style="width: 25px; height: 25px;" src="/icons/delete.png" alt="" th:text="#{delete}"></a>
                        </div>
                    </form>
                </div>
            <br>
            <br>

                <div class="row-mt-5">
                    <label style="font-size: 25px; font-weight: bold" th:text="#{roles}"></label>
                        <table class="table table-striped">
                            <tbody>
                            <tr th:each="cat : ${userRoles}">
                                <form th:action="@{'/cleanRole'}" method="post">
                                    <input type="hidden" th:value="${user.id}" name="user_id">
                                    <input type="hidden" th:value="${cat.id}" name="role_id">
                                    <td th:text="${cat.role}"></td>
                                    <td width="10%">
                                        <button class="btn btn-danger" style="background-color: rgba(179,0,0,0.81); color: white;">-</button>
                                    </td>
                                </form>
                            </tr>
                            </tbody>
                        </table>
                        <table class="table table-striped">
                            <tbody>
                            <tr th:each="c : ${unUsed}">
                                <form th:action="@{'/assignRole'}" method="post">
                                    <input type="hidden"  name="user_id" th:value="${user.id}">
                                    <input type="hidden" th:value="${c.id}" name="role_id">
                                    <td th:text="${c.role}"></td>
                                    <td width="10%">
                                        <button class="btn btn-success" style="background-color: #156145; color: white">+</button>
                                    </td>
                                </form>
                            </tr>

                            </tbody>
                        </table>
                </div>
        </div>
        <br>
    </div>
</div>
</div>
</html>